/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*#home-body {
margin: 0;
padding: 0;
height: 100%;
} */

#extr-page {
margin: 0;
padding: 0;
height: 100%;
}

/*#wrapper {
min-height: 100%;
position: relative;
}

#content-home {
padding-bottom: 100px;
} */

@font-face {
font-family: road_radio;
src: local(road_radio), url('../fonts/Road-Radio/RoadRadio-Light.ttf') format('opentype');
}

h1, h2, h3, h4 {
font-family: road_radio;
}

h2 {
letter-spacing: normal;
}

h5, h6 {
font-family: 'Source Sans Pro', sans-serif;
}

h6 {
font-size: 16px;
}

body {
background: none;
font-size: 17px;
font-family:'Source Sans Pro', sans-serif;
font-weight: 400;
}

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #34ad99;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
/*
.client-form header {
background: #34ad99 !important;
}

.smart-form footer {
background: #34ad99 !important;
} */

#linkbtn a {
color: #c9c9c9 !important;
}

.panel-primary {
border-color: #FFF;
}

/*#jqgrid_cb {
width : 50px !important;
}

.ui-jqgrid tr.ui-row-ltr td:first-child {
width : 50px !important;
}*/

#header-nav {
background-color: #2f2f2f;
border-color: #34ad99;
color: #F5F5F5;
margin-bottom: 0;
}

#header-well {
background: #34ad99;
color: #F5F5F5;
border: none;
padding: 50px 0;
}

#header-well h1 {
font-size: 32px;
line-height: 58px;
}

#logo {
margin-top: 7px;
}

#logo img {
width: 150px;
}

#legend-col {
color: #34ad99;
font-weight: bold;
font-size: 19px;
}

#vdivide:before {
background: #34ad99;
width: 1px;
content: "";
display: block;
position: absolute;
top: 10px;
bottom: 10px;
right: 0;
}

.column-home {
width: 85%;
display:block;
margin-left:auto;
margin-right:auto
}

.img-responsive {
margin: auto;
}
 
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
background-color: #34ad99 !important;
color: #F5F5F5 !important;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
color:#F5F5F5; 
} 

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
color: #34ad99 !important;
}

#footer{
text-align: center;
background:#2f2f2f;
padding:10px 0 0;
color:#F5F5F5 !important;
font-size:14px;
line-height:30px;
overflow:hidden;
position:relative;
min-height: 50px;
}

#footer-home {
text-align: center;
background:#2f2f2f;
padding:10px 0 0;
color:#F5F5F5 !important;
font-size:14px;
line-height:30px;
overflow:hidden;
min-height: 50px;
width: 100%;
height: auto;
position: absolute;
bottom: 0;
left: 0;
}

#footer h6 {
color: #ccc !important;
font-weight: normal !important;
}

#footer-home h6 {
color: #ccc !important;
font-weight: normal !important;
}

#footer h5 {
color: #34ad99;
}

#footer-home h5 {
color: #34ad99;
}

#social a {
color: #ccc;
}

#social {
padding-left: 0;
float: none;
text-align: center;
margin-top: 9px;
}

#footer-menu a {
color: #34ad99;
}

@media only screen and (max-width : 320px){
.scroll-top-wrapper {
right: 10px;
}

.column-home {
width: 100%;
}
}

@media only screen and (max-width : 480px){
.scroll-top-wrapper {
right: 10px;
}

.column-home {
width: 100%;
}
 }

@media only screen and (max-width: 991px) {
#vdivide:before {
content: none;
}

#home-col .col-md-6:last-child{
margin-top: 40px;
}
}

.Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.Site-header,
.Site-footer {
  flex: none; /* 2 */
}

.Site-footer {
text-align: center;
background: #2f2f2f;
color: #F5F5F5 !important;
font-size: 14px;
line-height: 30px;
padding-top: 10px;
}

.Site-footer h6 {
color: #ccc !important;
font-weight: normal !important;
}

.Site-footer h5 {
color: #34ad99;
}

.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}

.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}

/* Blog Post Related*/

.post {
position: relative;
width: 80%;
max-width: 710px;
margin: 4rem auto;
padding-bottom: 4rem;
border-bottom: #34ad99 1px solid;
}

.post-excerpt {
margin: 10px 0 0;
}

/* Blog Pagination */
.pagination {
position: relative;
width: 80%;
max-width: 710px;
margin: 4rem auto;
text-align: center;
color: #34ad99;
display: block;
}

/* Custom Panel 1 */

.panel-custom {
border-color: #969696;
}

.panel-custom > .panel-heading {
color: #f5f5f5;
background-color: #34ad99;
border-color: #969696;
}

.panel-custom > .panel-body a {
color: #969696;
}

/* Custom Panel 2 */

.panel-custom1 {
border-color: #969696;
}

.panel-custom1 > .panel-heading {
border-color: #969696;
}

.panel-custom1 > .panel-body a {
color: #34ad99;
}